# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build
dist
build/
develop-eggs/
dist/
dist/*
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.pkl

# Django migrations
migrations/

# Local environment
venv
venv/*
/venv
.env
.venv/
*.env
*.local

# Docker
*.env.docker
.dockerignore
docker-compose*.yml
*.pid

# Testing
coverage/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pyre
.pyre/

# pytype
.pytype/



# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Other
*.log
*.bak
*.tmp
